<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Emp_Id</td>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{employee.Emp_Id}}
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>